In [2]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder,LabelEncoder

In [5]:
data = pd.read_csv('diabetes_prediction_dataset.csv')
data

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0
...,...,...,...,...,...,...,...,...,...
99995,Female,80.0,0,0,No Info,27.32,6.2,90,0
99996,Female,2.0,0,0,No Info,17.37,6.5,100,0
99997,Male,66.0,0,0,former,27.83,5.7,155,0
99998,Female,24.0,0,0,never,35.42,4.0,100,0
99999,Female,57.0,0,0,current,22.43,6.6,90,0

In [8]:
data.heart_disease.value_counts()

heart_disease
0    96058
1     3942
Name: count, dtype: int64

In [21]:
df_1= data[data.loc[:,'heart_disease']==0].sample(n=3942, ignore_index=True)

In [22]:
df_1.heart_disease.value_counts()

heart_disease
0    3942
Name: count, dtype: int64

In [23]:
df_2= data[data.loc[:,'heart_disease']==1].reset_index()
df_2.drop('index',axis=1,inplace=True)
df_2

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Male,76.0,1,1,current,20.14,4.8,155,0
2,Female,72.0,0,1,former,27.94,6.5,130,0
3,Male,67.0,0,1,not current,27.32,6.5,200,1
4,Female,77.0,1,1,never,32.02,5.0,159,0
...,...,...,...,...,...,...,...,...,...
3937,Male,63.0,0,1,No Info,27.32,6.6,300,1
3938,Male,80.0,1,1,former,28.79,5.8,90,0
3939,Male,80.0,0,1,former,27.32,5.0,140,0
3940,Female,65.0,1,1,never,33.55,8.2,140,1
3941,Male,55.0,0,1,former,30.42,6.2,300,1

In [24]:
dataf= pd.concat((df_1,df_2),ignore_index=True)

In [25]:
dataf.heart_disease.value_counts()

heart_disease
0    3942
1    3942
Name: count, dtype: int64

In [31]:
x= dataf.loc[: , ::2]
x

      gender  hypertension smoking_history  HbA1c_level  diabetes
0     Female             0           never          6.2         0
1     Female             0         No Info          4.5         0
2       Male             0         No Info          6.6         0
3     Female             0     not current          4.0         0
4       Male             0         No Info          6.0         0
...      ...           ...             ...          ...       ...
7879    Male             0         No Info          6.6         1
7880    Male             1          former          5.8         0
7881    Male             0          former          5.0         0
7882  Female             1           never          8.2         1
7883    Male             0          former          6.2         1

[7884 rows x 5 columns]